## Auto generated backend.tf ##
## Updated on: {{ timestamp }} ##

##assume_role은 backend 블록에서 지원하지 않음

{% if tf_distribution_type == "oss" -%}
terraform {
  required_version = ">= {{ tf_version }}"
  backend "s3" {
    region         = "{{ region }}"
    bucket         = "{{ bucket }}"
    key            = "{{ key }}"
    dynamodb_table = "{{ dynamodb_table }}"
    encrypt        = "true"
    kms_key_id     = "{{ kms_key_id }}"
    role_arn       = "{{ aft_admin_role_arn }}"
  }
}
{% else -%}
terraform {
  backend "remote" {
    organization = "{{ terraform_org_name }}"
    workspaces {
      name = "{{ terraform_workspace_name }}"
    }
  }
}
{% endif %}


